/**
 * Get a colour from a given colour palette.
 * 
 * @param {String} $name                    - colour to get
 * @param {Map}    $palette ($guss-palette) - palette
 *
 * @requires {variable} guss-palette
 *
 * @return {Color | Null}
 *
 * @group colours
 */
@function guss-colour($name, $palette: $guss-palette) {
    @return map-get($palette, $name);
}

$guss-palette: (
    rainbow-red:            #ed1c24,
    rainbow-orange:         #f26522,
    rainbow-yellow:         #fff200,
    rainbow-green:          #00a651,
    rainbow-blue:           #0054a6,
    rainbow-indigo:         #2e3192,
    rainbow-violet:         #92278f,
) !default;

/**
 * Generate helper classes for a given colour palette  
 * Outputs rules such as: `.c-red { color: red; }`.
 *
 * @param {Map}    $palette  ($guss-palette) - palette
 * @param {String} $prefix   ("c-")          - prefix
 * @param {String} $property ("color")       - property
 *
 * @requires {variable} guss-palette
 *
 * @group colours
 */
@mixin guss-generate-colour-classes($palette: $guss-palette, $prefix: "c-", $property: "color") {
    @each $name, $color in $palette {
        .#{unquote($prefix + $name)} {
            #{$property}: $color;
        }
    }
}
